In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('fivethirtyeight')
plt.rcParams['font.size'] = 14

import seaborn as sns
palette = sns.color_palette('Paired', 10)

# Set random seed 
RSEED = 100

In [2]:
# LOAD DATA TO BE MANIPULATED

data = pd.read_csv("../00_Data_Sets/100_k_dataset_2015.csv");

In [3]:
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000
mean,11.501462,-73.974159,40.750822,-73.973617,40.751591,1.526672,0.021339,0.023760,0.045099,0.034898,3.394644
std,9.072024,0.036963,0.027705,0.034712,0.031731,1.075492,0.023589,0.035833,0.052817,0.040527,3.764279
min,2.744600,-74.291595,40.470993,-74.291611,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.420540,-73.992050,40.736729,-73.991379,40.735740,1.000000,0.006870,0.006187,0.016201,0.012678,1.242527
50%,8.563286,-73.981918,40.753759,-73.980019,40.754349,1.000000,0.013760,0.012672,0.027721,0.021516,2.120602
75%,12.514358,-73.967588,40.768227,-73.963333,40.769345,2.000000,0.026730,0.024231,0.050611,0.038623,3.907561
max,84.658710,-73.532593,40.970356,-73.532593,41.057537,5.000000,0.281437,0.377335,0.495525,0.380997,34.818911

In [4]:
# Create Copy

data_manipulated = data.copy()

In [5]:
# OPTIONAL: SET DATE TO DATETIME FORMAT

data_manipulated['pickup_datetime'] = pd.to_datetime(data_manipulated['pickup_datetime'])
data_manipulated = data_manipulated.set_index(data_manipulated['pickup_datetime'])
data_manipulated = data_manipulated.sort_index()

In [6]:
# OPTIONAL: SET DATE TO DATETIME FORMAT

data['pickup_datetime'] = pd.to_datetime(data['pickup_datetime'])
data = data_manipulated.set_index(data['pickup_datetime'])
data = data_manipulated.sort_index()

In [7]:
# Split Dataset into drift steps
data_2015_jan = data_manipulated['2015-01-01':'2015-01-05']
data_2015_feb = data_manipulated['2015-01-06':'2015-02-28']
data_2015_mar = data_manipulated['2015-03-01':'2015-03-31']
data_2015_apr = data_manipulated['2015-04-01':'2015-04-30']
data_2015_may = data_manipulated['2015-05-01':'2015-05-31']
data_2015_jun = data_manipulated['2015-06-01':'2015-06-30']
data_2015_jul = data_manipulated['2015-07-01':'2015-07-31'] # EMPTY

print('Dataset 1:',data_2015_jan.shape)
print('Dataset 2:',data_2015_feb.shape)
print('Dataset 3:',data_2015_mar.shape)
print('Dataset 4:',data_2015_apr.shape)
print('Dataset 5:',data_2015_may.shape)
print('Dataset 6:',data_2015_jun.shape)
print('Dataset 7:',data_2015_jul.shape) # EMPTY

Dataset 1: (2281, 15)
Dataset 2: (29871, 15)
Dataset 3: (17030, 15)
Dataset 4: (16857, 15)
Dataset 5: (16874, 15)
Dataset 6: (16031, 15)
Dataset 7: (0, 15)

In [8]:
from random import random

def drift_data(data, drift_level):
    data.loc[:,'fare_amount'] = data.loc[:,'fare_amount'].apply(change_data, args=[drift_level]);
    
def change_data(fare_amount, drift_level):
    random_float = random()
    random_fare_amount_add = random() * 6
    
    if fare_amount < 7:
        if random_float > (1 - drift_level):
            return fare_amount + random_fare_amount_add

    return fare_amount

In [9]:
# Create Data Drift

# drift_data(data_2015_jan, 0.05)
drift_data(data_2015_feb, 0.8)
drift_data(data_2015_mar, 0.8)
drift_data(data_2015_apr, 0.8)

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [12]:
# data_2015_jan.describe()
# data_2015_feb.describe()
data_2015_mar.describe()
# data_2015_apr.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000
mean,12.278908,-73.974077,40.750727,-73.973166,40.751480,1.526189,0.021157,0.023578,0.044734,0.034662,3.371572
std,8.664989,0.036560,0.027628,0.035316,0.032272,1.073214,0.023601,0.035685,0.052527,0.040404,3.755052
min,3.228742,-74.182243,40.492546,-74.239204,40.575741,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.798863,-73.991949,40.736777,-73.991301,40.735504,1.000000,0.006767,0.006098,0.015923,0.012389,1.217168
50%,9.625518,-73.981888,40.753323,-73.979977,40.754311,1.000000,0.013523,0.012451,0.027317,0.021302,2.084976
75%,12.563989,-73.967470,40.767876,-73.962757,40.769402,2.000000,0.026579,0.023932,0.050117,0.038430,3.889094
max,78.221500,-73.678246,40.866985,-73.655670,40.973095,5.000000,0.281437,0.278938,0.415936,0.295462,31.490178

In [57]:
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000
mean,11.501462,-73.974159,40.750822,-73.973617,40.751591,1.526672,0.021339,0.023760,0.045099,0.034898,3.394644
std,9.072024,0.036963,0.027705,0.034712,0.031731,1.075492,0.023589,0.035833,0.052817,0.040527,3.764279
min,2.744600,-74.291595,40.470993,-74.291611,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.420540,-73.992050,40.736729,-73.991379,40.735740,1.000000,0.006870,0.006187,0.016201,0.012678,1.242527
50%,8.563286,-73.981918,40.753759,-73.980019,40.754349,1.000000,0.013760,0.012672,0.027721,0.021516,2.120602
75%,12.514358,-73.967588,40.768227,-73.963333,40.769345,2.000000,0.026730,0.024231,0.050611,0.038623,3.907561
max,84.658710,-73.532593,40.970356,-73.532593,41.057537,5.000000,0.281437,0.377335,0.495525,0.380997,34.818911

In [13]:
# Merge Sub-Datasets

drifted_data = pd.concat([data_2015_jan,data_2015_feb, data_2015_mar, data_2015_apr], ignore_index=True)
drifted_data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000
mean,12.138150,-73.974450,40.750903,-73.973871,40.751652,1.523585,0.021013,0.023253,0.044266,0.034255,3.334214
std,8.565363,0.036203,0.027514,0.034092,0.031439,1.075985,0.023293,0.035208,0.051959,0.039888,3.707830
min,3.205405,-74.193726,40.470993,-74.239204,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.735951,-73.991974,40.736666,-73.991325,40.735870,1.000000,0.006771,0.006111,0.015968,0.012485,1.223678
50%,9.543994,-73.981972,40.753761,-73.980057,40.754478,1.000000,0.013542,0.012497,0.027248,0.021210,2.088833
75%,12.438048,-73.967705,40.768049,-73.963470,40.769310,2.000000,0.026312,0.023796,0.049652,0.037952,3.843814
max,84.658710,-73.532593,40.970356,-73.532593,41.057537,5.000000,0.281437,0.304008,0.495525,0.350499,34.818911

In [11]:
# Merge Sub-Datasets

drifted_data = pd.concat([data_2015_jan,data_2015_feb, data_2015_mar, data_2015_apr], ignore_index=True)
drifted_data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000
mean,11.359241,-73.974450,40.750903,-73.973871,40.751652,1.628992,0.021013,0.023253,0.044266,0.034255,3.334214
std,8.925246,0.036203,0.027514,0.034092,0.031439,1.084688,0.023293,0.035208,0.051959,0.039888,3.707830
min,2.744600,-74.193726,40.470993,-74.239204,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.376187,-73.991974,40.736666,-73.991325,40.735870,1.000000,0.006771,0.006111,0.015968,0.012485,1.223678
50%,8.496203,-73.981972,40.753761,-73.980057,40.754478,1.000000,0.013542,0.012497,0.027248,0.021210,2.088833
75%,12.375512,-73.967705,40.768049,-73.963470,40.769310,2.000000,0.026312,0.023796,0.049652,0.037952,3.843814
max,84.658710,-73.532593,40.970356,-73.532593,41.057537,5.000000,0.281437,0.304008,0.495525,0.350499,34.818911

In [14]:
# SAVE DATASETS

# data_2015_jan.to_csv('02_Passenger Count/passenger count_drift_jan_01.csv', index = False)
# data_2015_feb.to_csv('02_Passenger Count/passenger count_drift_feb_01.csv', index = False)
# data_2015_mar.to_csv('02_Passenger Count/passenger count_drift_mar_01.csv', index = False)
# data_2015_apr.to_csv('02_Passenger Count/passenger count_drift_apr_01.csv', index = False)
drifted_data.to_csv('04_Fare Amount/fare-amount_drift_total_02.csv', index = False)

In [66]:
# data_check_jan = pd.read_csv('02_Passenger Count/passenger count_drift_jan_01.csv');
# data_check_feb = pd.read_csv('02_Passenger Count/passenger count_drift_feb_01.csv');
# data_check_mar = pd.read_csv('02_Passenger Count/passenger count_drift_mar_01.csv');
# data_check_apr = pd.read_csv('02_Passenger Count/passenger count_drift_apr_01.csv');
data_check_total = pd.read_csv('04_Fare Amount/fare-amount_drift_total_01.csv');
data_check_total.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000,66039.000000
mean,11.825033,-73.974450,40.750903,-73.973871,40.751652,1.523585,0.021013,0.023253,0.044266,0.034255,3.334214
std,8.715269,0.036203,0.027514,0.034092,0.031439,1.075985,0.023293,0.035208,0.051959,0.039888,3.707830
min,2.744600,-74.193726,40.470993,-74.239204,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.279896,-73.991974,40.736666,-73.991325,40.735870,1.000000,0.006771,0.006111,0.015968,0.012485,1.223678
50%,9.176083,-73.981972,40.753761,-73.980057,40.754478,1.000000,0.013542,0.012497,0.027248,0.021210,2.088833
75%,12.416217,-73.967705,40.768049,-73.963470,40.769310,2.000000,0.026312,0.023796,0.049652,0.037952,3.843814
max,84.658710,-73.532593,40.970356,-73.532593,41.057537,5.000000,0.281437,0.304008,0.495525,0.350499,34.818911