In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('fivethirtyeight')
plt.rcParams['font.size'] = 14

import seaborn as sns
palette = sns.color_palette('Paired', 10)

# Set random seed 
RSEED = 100

In [3]:
# LOAD DATA TO BE MANIPULATED

data = pd.read_csv("../00_Data_Sets/100_k_dataset_2015.csv");

In [4]:
# Create Copy

data_manipulated = data.copy()

In [6]:
# OPTIONAL: SET DATE TO DATETIME FORMAT

data_manipulated['pickup_datetime'] = pd.to_datetime(data_manipulated['pickup_datetime'])
data_manipulated = data_manipulated.set_index(data_manipulated['pickup_datetime'])
data_manipulated = data_manipulated.sort_index()

In [41]:
# Split Dataset into drift steps
data_2015_jan = data_manipulated['2015-01-01':'2015-01-31']
data_2015_feb = data_manipulated['2015-02-01':'2015-02-28']
data_2015_mar = data_manipulated['2015-03-01':'2015-03-31']
data_2015_apr = data_manipulated['2015-04-01':'2015-04-30']
data_2015_may = data_manipulated['2015-05-01':'2015-05-31']
data_2015_jun = data_manipulated['2015-06-01':'2015-06-30']
data_2015_jul = data_manipulated['2015-07-01':'2015-07-31'] # EMPTY

print('Dataset 1:',data_2015_jan.shape)
print('Dataset 2:',data_2015_feb.shape)
print('Dataset 3:',data_2015_mar.shape)
print('Dataset 4:',data_2015_apr.shape)
print('Dataset 5:',data_2015_may.shape)
print('Dataset 6:',data_2015_jun.shape)
print('Dataset 7:',data_2015_jul.shape) # EMPTY

Dataset 1: (16186, 15)
Dataset 2: (15966, 15)
Dataset 3: (17030, 15)
Dataset 4: (16857, 15)
Dataset 5: (16874, 15)
Dataset 6: (16031, 15)
Dataset 7: (0, 15)

In [43]:
from random import random

def drift_data(data, drift_level):
    data.loc[:,'passenger_count'] = data.loc[:,'passenger_count'].apply(change_data, args=[drift_level]);
    
def change_data(passenger_count, drift_level):
    random_float = random()
    random_integer_passenger_count = int(random() * 2)
    
    if passenger_count < 3:
        if random_float > (1 - drift_level):
            return passenger_count + random_integer_passenger_count

    return passenger_count

In [44]:
# Create Data Drift

drift_data(data_2015_jan, 0.05)
drift_data(data_2015_feb, 0.1)
drift_data(data_2015_mar, 0.3)
drift_data(data_2015_apr, 0.5)

In [50]:
#data_2015_jan.describe()
#data_2015_feb.describe()
#data_2015_mar.describe()
data_2015_apr.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000
mean,13.147689,-73.974358,40.750763,-73.973634,40.751618,1.749896,0.021834,0.024233,0.046067,0.035636,3.467226
std,10.988736,0.036788,0.027850,0.034339,0.031787,1.091114,0.023995,0.036289,0.053451,0.041070,3.817332
min,2.500000,-74.186302,40.586666,-74.218719,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.500000,-73.992134,40.736412,-73.991295,40.736198,1.000000,0.007122,0.006378,0.016640,0.013004,1.283343
50%,9.500000,-73.981972,40.753849,-73.979729,40.754513,1.000000,0.014050,0.012978,0.028336,0.021901,2.162592
75%,15.000000,-73.967476,40.768356,-73.963654,40.769314,2.000000,0.027382,0.024666,0.052189,0.039848,4.033403
max,98.750000,-73.776184,40.909973,-73.587708,41.043755,5.000000,0.277458,0.296982,0.396683,0.302198,30.891908

In [47]:
data_manipulated.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000
mean,12.898841,-73.974159,40.750822,-73.973617,40.751591,1.597954,0.021339,0.023760,0.045099,0.034898,3.394644
std,10.835837,0.036963,0.027705,0.034712,0.031731,1.082073,0.023589,0.035833,0.052817,0.040527,3.764279
min,2.500000,-74.291595,40.470993,-74.291611,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.500000,-73.992050,40.736729,-73.991379,40.735740,1.000000,0.006870,0.006187,0.016201,0.012678,1.242527
50%,9.500000,-73.981918,40.753759,-73.980019,40.754349,1.000000,0.013760,0.012672,0.027721,0.021516,2.120602
75%,14.500000,-73.967588,40.768227,-73.963333,40.769345,2.000000,0.026730,0.024231,0.050611,0.038623,3.907561
max,100.000000,-73.532593,40.970356,-73.532593,41.057537,5.000000,0.281437,0.377335,0.495525,0.380997,34.818911

In [51]:
# SAVE DATASETS

data_2015_jan.to_csv('02_Passenger Count/passenger count_drift_jan_01.csv', index = False)
data_2015_feb.to_csv('02_Passenger Count/passenger count_drift_feb_01.csv', index = False)
data_2015_mar.to_csv('02_Passenger Count/passenger count_drift_mar_01.csv', index = False)
data_2015_apr.to_csv('02_Passenger Count/passenger count_drift_apr_01.csv', index = False)

In [55]:
data_check_jan = pd.read_csv('02_Passenger Count/passenger count_drift_jan_01.csv');
data_check_feb = pd.read_csv('02_Passenger Count/passenger count_drift_feb_01.csv');
data_check_mar = pd.read_csv('02_Passenger Count/passenger count_drift_mar_01.csv');
data_check_apr = pd.read_csv('02_Passenger Count/passenger count_drift_apr_01.csv');
data_check_apr.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000
mean,13.147689,-73.974358,40.750763,-73.973634,40.751618,1.749896,0.021834,0.024233,0.046067,0.035636,3.467226
std,10.988736,0.036788,0.027850,0.034339,0.031787,1.091114,0.023995,0.036289,0.053451,0.041070,3.817332
min,2.500000,-74.186302,40.586666,-74.218719,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.500000,-73.992134,40.736412,-73.991295,40.736198,1.000000,0.007122,0.006378,0.016640,0.013004,1.283343
50%,9.500000,-73.981972,40.753849,-73.979729,40.754513,1.000000,0.014050,0.012978,0.028336,0.021901,2.162592
75%,15.000000,-73.967476,40.768356,-73.963654,40.769314,2.000000,0.027382,0.024666,0.052189,0.039848,4.033403
max,98.750000,-73.776184,40.909973,-73.587708,41.043755,5.000000,0.277458,0.296982,0.396683,0.302198,30.891908