In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('fivethirtyeight')
plt.rcParams['font.size'] = 14

import seaborn as sns
palette = sns.color_palette('Paired', 10)

# Set random seed 
RSEED = 100

In [2]:
# LOAD DATA TO BE MANIPULATED

data = pd.read_csv("../00_Data_Sets/100_k_dataset_2015.csv");

In [3]:
# Create Copy

data_manipulated = data.copy()

In [4]:
from random import random

def make_lat_long_outlier(variable):
    random_float_is_outlier = random()
    random_float_is_negative = random()    
    random_integer_outlier = int(random() * 4)
    
    if random_float_is_outlier > 0.99:
        if random_float_is_negative > 0.5:
            return random_integer_outlier * (-1)
        return random_integer_outlier
    
    return 0;

In [5]:
data_manipulated.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000
mean,11.501462,-73.974159,40.750822,-73.973617,40.751591,1.526672,0.021339,0.023760,0.045099,0.034898,3.394644
std,9.072024,0.036963,0.027705,0.034712,0.031731,1.075492,0.023589,0.035833,0.052817,0.040527,3.764279
min,2.744600,-74.291595,40.470993,-74.291611,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.420540,-73.992050,40.736729,-73.991379,40.735740,1.000000,0.006870,0.006187,0.016201,0.012678,1.242527
50%,8.563286,-73.981918,40.753759,-73.980019,40.754349,1.000000,0.013760,0.012672,0.027721,0.021516,2.120602
75%,12.514358,-73.967588,40.768227,-73.963333,40.769345,2.000000,0.026730,0.024231,0.050611,0.038623,3.907561
max,84.658710,-73.532593,40.970356,-73.532593,41.057537,5.000000,0.281437,0.377335,0.495525,0.380997,34.818911

In [6]:
# Create random outliers (might be incorrect!)

data_manipulated = data.copy()

data_manipulated['passenger_count'] = data_manipulated['passenger_count'] + data_manipulated['passenger_count'].apply(make_lat_long_outlier)

data_manipulated.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000
mean,11.501462,-73.974159,40.750822,-73.973617,40.751591,1.526288,0.021339,0.023760,0.045099,0.034898,3.394644
std,9.072024,0.036963,0.027705,0.034712,0.031731,1.092896,0.023589,0.035833,0.052817,0.040527,3.764279
min,2.744600,-74.291595,40.470993,-74.291611,40.535355,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.420540,-73.992050,40.736729,-73.991379,40.735740,1.000000,0.006870,0.006187,0.016201,0.012678,1.242527
50%,8.563286,-73.981918,40.753759,-73.980019,40.754349,1.000000,0.013760,0.012672,0.027721,0.021516,2.120602
75%,12.514358,-73.967588,40.768227,-73.963333,40.769345,2.000000,0.026730,0.024231,0.050611,0.038623,3.907561
max,84.658710,-73.532593,40.970356,-73.532593,41.057537,8.000000,0.281437,0.377335,0.495525,0.380997,34.818911

In [7]:
# SAVE DATASET

data_manipulated.to_csv('02_Passenger Count/passenger count_outlier_02.csv', index = False)

In [9]:
data_check = pd.read_csv('02_Passenger Count/passenger count_outlier_02.csv');
data_check.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000,98944.000000
mean,11.501462,-73.974159,40.750822,-73.973617,40.751591,1.526288,0.021339,0.023760,0.045099,0.034898,3.394644
std,9.072024,0.036963,0.027705,0.034712,0.031731,1.092896,0.023589,0.035833,0.052817,0.040527,3.764279
min,2.744600,-74.291595,40.470993,-74.291611,40.535355,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.420540,-73.992050,40.736729,-73.991379,40.735740,1.000000,0.006870,0.006187,0.016201,0.012678,1.242527
50%,8.563286,-73.981918,40.753759,-73.980019,40.754349,1.000000,0.013760,0.012672,0.027721,0.021516,2.120602
75%,12.514358,-73.967588,40.768227,-73.963333,40.769345,2.000000,0.026730,0.024231,0.050611,0.038623,3.907561
max,84.658710,-73.532593,40.970356,-73.532593,41.057537,8.000000,0.281437,0.377335,0.495525,0.380997,34.818911