In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('fivethirtyeight')
plt.rcParams['font.size'] = 14

import seaborn as sns
palette = sns.color_palette('Paired', 10)

# Set random seed 
RSEED = 100

In [14]:
# LOAD DATA TO BE MANIPULATED

data = pd.read_csv("../00_Data_Sets/100_k_dataset_2015.csv");

In [15]:
# Create Copy

data_manipulated = data.copy()

In [ ]:
def get_rf(data, columns):
    from sklearn.ensemble import RandomForestRegressor
    from sklearn.model_selection import train_test_split
    
    # Split data
    X_train, X_valid, y_train, y_valid = train_test_split(data, np.array(data['fare_amount']), 
                                                          stratify = data['fare-bin'], test_size=0.33,
                                                          random_state = RSEED)

    # Create the random forest        
    rf = RandomForestRegressor(n_estimators = 20, max_depth = 20, max_features = None, oob_score = True, 
                                bootstrap = True, verbose = 1, n_jobs = -1)

    # Train random forest
    column_list = []
    for column in columns:
        column_list.append(train_data.columns[column])
        
    rf.fit(X_train[column_list], y_train)
    
    return rf

In [16]:
# OPTIONAL: SET DATE TO DATETIME FORMAT

data_manipulated['pickup_datetime'] = pd.to_datetime(data_manipulated['pickup_datetime'])
data_manipulated = data_manipulated.set_index(data_manipulated['pickup_datetime'])
data_manipulated = data_manipulated.sort_index()

In [41]:
# Split Dataset into drift steps
data_2015_jan_1_temp = data_manipulated['2015-01-01':'2015-01-15']
data_2015_jan_2_temp = data_manipulated['2015-01-16':'2015-01-31']
data_2015_feb_temp = data_manipulated['2015-02-01':'2015-04-30']
data_2015_may_temp = data_manipulated['2015-05-01':'2015-06-01']

data_2015_jul = data_manipulated['2015-07-01':'2015-07-31'] # EMPTY

print('Dataset 1:',data_2015_jan_1.shape)
print('Dataset 2:',data_2015_jan_2.shape)
print('Dataset 3:',data_2015_feb.shape)
print('Dataset 4:',data_2015_may.shape)

print('Dataset 7:',data_2015_jul.shape) # EMPTY

data_2015_jan_1 = data_2015_jan_1_temp.copy()
data_2015_jan_2 = data_2015_jan_2_temp.copy()
data_2015_feb = data_2015_feb_temp.copy()
data_2015_may = data_2015_may_temp.copy()

Dataset 1: (7862, 15)
Dataset 2: (8324, 15)
Dataset 3: (49853, 15)
Dataset 4: (17390, 15)
Dataset 7: (0, 15)

In [62]:
# SAVE DATASETS

drifted_data.to_csv('01_Location/location_drift_total.csv', index = False)

In [55]:
data_check_apr.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_lat_diff,abs_lon_diff,manhattan,euclidean,haversine
count,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000,16857.000000
mean,13.147689,-73.974358,40.750763,-73.973634,40.751618,1.749896,0.021834,0.024233,0.046067,0.035636,3.467226
std,10.988736,0.036788,0.027850,0.034339,0.031787,1.091114,0.023995,0.036289,0.053451,0.041070,3.817332
min,2.500000,-74.186302,40.586666,-74.218719,40.535355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.500000,-73.992134,40.736412,-73.991295,40.736198,1.000000,0.007122,0.006378,0.016640,0.013004,1.283343
50%,9.500000,-73.981972,40.753849,-73.979729,40.754513,1.000000,0.014050,0.012978,0.028336,0.021901,2.162592
75%,15.000000,-73.967476,40.768356,-73.963654,40.769314,2.000000,0.027382,0.024666,0.052189,0.039848,4.033403
max,98.750000,-73.776184,40.909973,-73.587708,41.043755,5.000000,0.277458,0.296982,0.396683,0.302198,30.891908